dist: xenial
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
# command to install dependencies
install:
  - pip install .
# command to run tests
script:
  - deepbgc --help
  - deepbgc info
  - pytest test/unit
